@import "variables";
@import "ui/mixins";

// Core CSS
@import "ui/utilities";
@import "ui/type";
@import "ui/button";
@import "ui/tables-responsive";

// Components
@import "ui/badge";
@import "ui/blockquote";
@import "ui/box";
@import "ui/callout";
@import "ui/call-to-action";
@import "ui/card-blog";
@import "ui/card-box";
@import "ui/card-form";
@import "ui/card-icon";
@import "ui/card-image";
@import "ui/card-number";
@import "ui/card-portfolio";
@import "ui/card-product";
@import "ui/card-profile";
@import "ui/cover";
@import "ui/feature-callout";
@import "ui/forms";
@import "ui/hero";
@import "ui/hover";
@import "ui/hover-basic";
@import "ui/hover-link";
@import "ui/icon";
@import "ui/icon-social";
@import "ui/images";
@import "ui/list";
@import "ui/loader";
@import "ui/pricing-tables";
@import "ui/ribbon";
@import "ui/sash";
@import "ui/testimonials";
@import "ui/timeline";

@import url("https://fonts.googleapis.com/css?family=Lato:700&display=swap");

// .brand img {
//   vertical-align: text-bottom;
// }

// @media (min-width: 1920px) {
//   .container {
//     max-width: 1440px;
//   }
// }

// $theme_gradient: transparent linear-gradient(180deg, #d45895 0%, #ef5869 100%) 0% 0% no-repeat padding-box;
$theme_gradient: #ef5869;
$theme_button_color: transparent linear-gradient(180deg, #d45895 0%, #ef5869 100%) 0% 0% no-repeat padding-box;

.brand img {
  vertical-align: top;
}

.hyperlink {
  cursor: pointer;
  color: $theme_gradient;
}
.highlighted {
  font-weight: 600;
}

h4,
h5 {
  font-family: "Lato", sans-serif;
}

.bg-info {
  background-color: #fff !important;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}

.app-header .bg-info a,
.app-header .bg-info a .ant-badge i,
.app-sidenav .bg-info a {
  color: dimgray;
}
// notifications
.app-header-notifications .ant-tabs-nav .ant-tabs-tab {
  padding: 1rem;
  border-bottom: none;
}
.app-header-inner .list-inline-item .list-notification-icon {
  font-size: 21px;
  padding: 4px;
}
.app-header-inner .list-inline-item .ant-badge .ant-badge-count {
  font-size: 13px;
  font-weight: 300;
  padding: 0 4px;
}
.ant-tabs-ink-bar {
  background-color: transparent;
}
.ant-avatar-lg {
  height: 48px;
  width: 48px;
}
.avatar-text {
  width: 119px;
  height: 30px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  color: #707070;
}
// #app-content {
//   padding: 20px;
// }
.sidenav-content {
  border-right: none;
}

.profile-box-detail {
  min-height: 600px;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  // border-radius: 0.375rem;
  background-color: #fff;
  & h4 {
    font-size: 16px;
  }
}
.ant-collapse-header {
  font-weight: 600;
  font-size: 16px;
}
.profile-box-detail-help {
  min-height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.375rem;
  background-color: #fff;
}
.midSizedNumber {
  font-size: 24px;
}
.demo-style-steps .steps-content {
  text-align: left !important;
  padding: 5px;
}
.demo-style-steps .steps-action {
  float: right;
}
.JobItem {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
  background-color: #fff;
  margin: 20px 0;
  border-left: solid 5px purple;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
}
.JobItem img,
.article .profile-card-v2 img {
  width: 70% !important;
  padding: 20px 0;
  text-align: center;
  max-height: 120px;
  box-shadow: none;
  border-radius: 0;
}
.blog-card__content {
  height: 50px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.ant-modal-close {
  position: absolute;
  top: 4px;
  right: 4px;
}
.ant-modal-close-x {
  background: linear-gradient(to right, #de57e5, #8863fb);
  border-radius: 51%;
  color: #fff;
  width: 28px;
  height: 28px;
  font-size: 14px;
  line-height: 28px;
}
.ant-list-item-meta-avatar {
  margin-right: 16px;
  margin-left: 20px;
}
.avatar-text {
  width: 119px;
  height: 30px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  color: #707070;
}
.JobItem__JobDesc {
  text-align: left;
  height: 70px;
  font-size: 14px;
  // margin-bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  // line-height: 1.5;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
}
.JobItem__Bookmark--purple {
  background: rgba(128, 0, 128, 0.3);
  padding: 6px 4px;
  border-radius: 4px;
}
.formInputWrapper {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 60%;
  background: #fff;
}
.companyLogo {
  height: 100px;
  width: 100px;
}
// .container-fluid {
//   padding-left: 10px;
//   padding-right: 10px;
// }
.search-slt {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  padding: 20px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}
.search-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
  background: linear-gradient(to right, #de57e5, #8863fb);
  height: 40px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  border: none;
  font-weight: 600;
}
.ant-form legend {
  width: 79%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: inherit;
  color: rgba(0, 0, 0, 0.45);
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
}
fieldset {
  width: 100%;
  display: flex;
}

@media (min-width: 992px) {
  .search-sec {
    position: relative;
    top: -114px;
    background: rgba(26, 70, 104, 0.51);
  }
}

@media (max-width: 992px) {
  .search-sec {
    background: #1a4668;
  }
}
@media screen and (max-width: 1360px) and (min-width: 1200px) {
  .ant-modal {
    width: 70% !important;
  }
  .view-shortlist-company-modal,
  .subscription-modal {
    width: 100% !important;
  }
}
@media screen and (max-width: 1200px) and (min-width: 999px) {
  .ant-modal {
    width: 65% !important;
  }
  .view-shortlist-company-modal,
  .subscription-modal {
    width: 100% !important;
  }
}
.jobdesc_table {
  max-height: 115px !important;
}
// @media screen and (max-width: 999px) and (min-width: 550px) {
//   .container {
//     width: 800px !important;
//     overflow: hidden;
//     overflow-x: scroll;
//   }
// }

// TABLE CSS
.ant-table {
  font-size: 15px;
}
.ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0;
}
.ant-table-tbody > tr > td {
  border-bottom: none;
}
.ant-table-title {
  float: left;
  padding-left: 15px;
  font-size: 20px;
  background: $theme_gradient;
  width: 100%;
  color: #fff;
  font-weight: 600;
}
.ant-table-thead {
  background: $theme_gradient;
}
.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
  background: none;
}
.ant-table-thead > tr > th {
  color: #fff;
  font-weight: 600;
  text-align: left;
  background: transparent;
  border: none;
  border-radius: 0;
}
.ant-table-thead > tr:first-child > th:last-child,
.ant-table-thead > tr:first-child > th:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner {
  height: 1em;
  margin-top: 0.35em;
  margin-left: 0.57142857em;
  color: #ffffff;
  background: transparent;
  line-height: 1em;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.ant-table-thead > tr > th .anticon-filter {
  color: #fff;
  font-size: 14px;
}
tr.ant-table-row.ant-table-row-level-0 {
  background: #fff;
}
.ant-table-thead > tr > th.ant-table-column-sort {
  background: none;
}
.stats_label {
  color: #d45895;
  font-size: 16px;
  font-weight: 600;
}
.stats_count {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  color: #707070;
  font-weight: 700;
}
.JobStatsWrapper {
  background: white;
  text-align: center;
  overflow: hidden;
}
// Discussion Board
.ant-comment-content-author {
  .ant-comment-content-author-name,
  .ant-comment-content-author-time {
    color: #1d0f0f;
  }
}

.ant-tabs-bar {
  border-bottom: none;
}
.partner-tabs {
  // color: white;
  // min-height: 600px;
  .ant-tabs-nav .ant-tabs-tab {
    padding: 8px 32px;
    margin: 0px 20px 0 0;
    color: #fff;
    background-color: rgb(212, 88, 149);
    &:hover {
      color: white;
    }
  }
  .ant-tabs-nav .ant-tabs-tab-active {
    color: white;
    background-color: rgb(239, 88, 105);
  }
}
.view-all-jobs-modal .ant-modal-body {
  max-height: 550px;
  min-height: 400px;
  overflow-y: scroll;
}
.view-shortlist-company-modal {
  top: 0;
  .ant-modal-content {
    border-radius: 0;
  }
  .ant-modal-close {
    top: 5px;
    // position: absolute;
    right: 20px;
    position: fixed;
    // right: 35px;
  }
}
.company-info-modal {
  // border: 1px solid rgba(0, 0, 0, 0.1);
  // border-radius: 0.375rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  max-height: 200px;
  img {
    margin-bottom: 5px;
    max-width: 100px;
  }
}
.job-description
{
  height: 336px;
  overflow: auto;
 }

.job-list-item {
  min-width: 265px;
  height: 180px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #00000029;
  border-radius: 20px;
  opacity: 1;
  padding: 10px;
  // background: $theme-gradient;
  box-shadow: 0px 0px 30px #00000015;
  border-radius: 15px;
  margin: 0px;
  // border: none;
  border-left-color: #b77bac;
  border-left-style: inset;
  border-left-width: 10px;
  transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  // &:hover {
  //   transform: translateY(-8px);
  // }
  .event-title {
    text-align: left;
    height: 75px;
    display: -webkit-box;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .job-container-card {
    display: flex;
    justify-content: space-between;
  }
  .job-oppurtunities {
    font-size: 35px;
    color: #3e3e3e;
    text-align: center;
  }
  .sub-text {
    font-size: 15px;
    color: #3e3e3e;
    // border-bottom: 2px solid #119da4;
  }
  .sub-text:after {
    content: "";
    width: 33px;
    display: block;
    margin-top: 10px;
    border-bottom: 2px solid #119da4;
  }
  .text {
    margin-top: 15px;
  }
}
// ************JOB POSTING STARTS************
.post-steps .ant-steps-item-title::after {
  display: none;
}
.post-steps .ant-steps-item-container {
  outline: none;
  padding: 10px;
}
.post-steps .ant-steps-item-process .ant-steps-item-icon {
  background: #4fc752;
  border-color: transparent;
  float: right;
}
.post-steps .ant-steps-item-wait .ant-steps-item-icon {
  background-color: #cbcbcc;
  border-color: #cbcbcc;
  float: right;
}
.post-steps .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  color: #ffffff;
}
.post-steps .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  color: #d80075;
}
.post-steps .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
  margin-right: 0px;
  border: 1px #cbcbcc solid;
  border-radius: 1px;
}
.post-steps .ant-steps-item-active {
  border: 2px solid #d80075 !important;
}
.demo-style-steps .steps-content {
  margin-top: 16px;
  border: none;
  border-radius: 6px;
  background-color: transparent !important;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}
.profile-card-v2 .demo-style-steps .steps-content {
  border: none !important;
}

// ************JOB POSTING ENDS ************
//  form
.ant-form-item {
  margin-bottom: 18px;
}
.ant-radio-button-wrapper {
  // border-left: 1px solid #d9d9d9;
  // border-radius: 6px 0 0 6px;
  margin-right: 10px;
}
.ant-radio-button-wrapper:first-child,
.ant-radio-button-wrapper:last-child {
  // border-left: 1px solid #d9d9d9;
  border-radius: 0;
}
.ant-form-item-label > label {
  color: #1d0f0f;
  font-size: 16px;
  font-weight: 600;
}
.ant-form-item-label {
  text-align: left;
}
.ant-form-item-label > label::after {
  content: "";
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
}
.ant-form-item-required::before {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 18px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}
// .ant-form-item-control span{color: #707070; font-size: 18px;}
.ant-input,
.ant-input-number,
.ant-select-selection--single,
.ant-select-selection--multiple {
  height: 33px;
  padding: 2px 2px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}
.steps-action .ant-btn,
.steps-action .ant-btn .ant-btn-primary {
  width: 180px;
  height: 50px;
  font-size: 16px;
}
.ant-form-item-control span {
  font-size: 14px;
  font-weight: 600;
}
.demo-style-steps .steps-action-save-draft {
  margin-top: 24px;
}
.demo-style-steps .steps-action-save-draft {
  float: left;
}
.steps-action-save-draft .ant-btn,
.steps-action-save-draft .ant-btn .ant-btn-primary {
  width: 180px;
  height: 50px;
  font-size: 16px;
}
// All Table
// .ant-table-thead > tr > th,
// .ant-table-tbody > tr > td {
//   border-bottom: 1px solid #d9d9d9;
// }

.ant-table-tbody > tr > td {
  border-bottom: 1px solid #d9d9d9;
}

// .capture-video-modal .ant-modal-body {
//   padding: 1rem;
// }
// .capture-video-modal .box-left {
//   padding: 5px;
//   width: 30%;
//   float: left;
//   margin-bottom: 10px;
//   margin-right: 5px;
//   height: 26em;
// }
// .capture-video-modal .box-right {
//   padding: 5px;
//   width: 68%;
//   float: right;
//   margin-bottom: 10px;
//   height: 26em;
// }
// .capture-video-modal .ant-modal-footer {
//   border: none;
// }
// .capture-video-modal .ant-steps-vertical .ant-steps-item {
//   margin-bottom: 15px;
// }
// .capture-video-modal .ant-steps-vertical .ant-steps-item-tail {
//   margin-top: 18px !important;
//   padding-top: 15px !important;
// }
// .vd-h-1,
// .vd-h-2,
// .vd-h-3 {
//   height: 50vh;
// }
// .video-js {
//   width: 100%;
//   height: 31em;
//   border-radius: 5px;
// }
// .vd-h-1,
// .vd-h-2,
// .vd-h-3 {
//   height: 100%;
// }
// .video-container {
//   padding: 3px !important;
// }
// .video-container .btn-set {
//   margin-top: 5px;
// }
// .video-container .btn-set .jd-next,
// .video-container .btn-set .jd-prev {
//   float: right;
// }
// .video-container .btn-set .jd-prev {
//   margin-right: 5px;
// }
// .ml5 {
//   margin-left: 5px;
// }
// .fright {
//   float: right;
// }

// carousel
.ant-carousel .slick-slide img {
  display: inline-block;
}
.ant-carousel .slick-dots-bottom {
  bottom: -28px;
  z-index: 999;
}
.ant-carousel .slick-dots li.slick-active button {
  width: 24px;
  background: #d45895;
  opacity: 1;
}
.ant-carousel .slick-dots li button {
  color: #d45895;
  opacity: 0.5;
  background: #d45895;
}

// tags
.ant-tag-green,
.ant-tag-geekblue {
  color: #707070;
  background: transparent;
  border-color: transparent;
  font-size: 15px;
}
.ant-tag-green:before {
  background: #1fc753;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 12px;
  border-radius: 5px;
}

.ant-tag-geekblue:before {
  background: #c71f39;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 12px;
  border-radius: 5px;
}

// LineUpsTable
.view-lineups-modal .ant-table-thead > tr > th {
  border-bottom: 2px solid #d45895;
}

.LineUpsTable .ant-table-thead > tr > th {
  color: #d45895;
  font-weight: 600;
  font-size: 16px;
}
.LineUpsTable .ant-table-thead {
  background: none;
  // border-bottom: 2px solid #D45895 !important;
}
.ant-table-empty .ant-table-body {
  overflow: visible !important;
}
// Recruiter Modal
.add-recruiter-modal .ant-modal-content,
.add-event-modal .ant-modal-content {
  border-radius: 10px;
}
// Search Nav
.search-slt {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  padding: 20px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}
.search-btn {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
  background: $theme_gradient;
  height: 40px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  border: none;
  font-weight: 600;
}
.search-box {
  // border: 1px solid red;
  // width: 700px;
  height: 12px;
  max-width: none;
}
.search-box input {
  width: auto;
  border: 1px solid #9a9a9a;
}
// .search-box.list-inline-item {
//   margin-left: 120px;
// }

.searchpage .profile-card-v2 {
  text-align: left;
}

.jobsearchfilter .ant-select {
  display: block;
}
.jobsearchfilter {
  border-right: 1px solid #d9d9d9;
  padding-right: 10px;
}
.candidate-details img {
  height: 100px;
  width: 100px;
}

.jobsearchfilter .ant-select-selection--single {
  height: 36px;
  padding: 3px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}
.ant-select-selection__rendered {
  margin-left: 4px;
  font-size: 13px;
}
.ant-table-thead > tr > th .ant-table-header-column {
  text-align: center;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  text-align: center;
}
.list-inline-item .ant-input-group.ant-input-group-compact > *:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 40px;
}
.list-inline-item .ant-input-group.ant-input-group-compact > *:last-child {
  border-radius: 50px;
  z-index: 1;
}
.list-inline-item .ant-select-selection--single {
  padding: 0px 0px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
}
.list-inline-item .ant-btn {
  color: #fff;
  font-size: 15px;
  background: $theme_button_color;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  width: 120px;
  margin-left: -45px;
  border-radius: 50px;
  height: 42px;
  z-index: 1;
}
.ant-input-group.ant-input-group-compact > .ant-select > .ant-select-selection,
.ant-input-group.ant-input-group-compact > .ant-calendar-picker .ant-input,
.ant-input-group.ant-input-group-compact > .ant-select-auto-complete .ant-input,
.ant-input-group.ant-input-group-compact > .ant-cascader-picker .ant-input,
.ant-input-group.ant-input-group-compact > .ant-mention-wrapper .ant-mention-editor,
.ant-input-group.ant-input-group-compact > .ant-time-picker .ant-time-picker-input,
.ant-input-group.ant-input-group-compact > .ant-input-group-wrapper .ant-input {
  border-right-width: 1px;
  border-radius: 0;
  height: 40px;
  padding-right: 25px;
}

.filterresultwrapper img {
  height: 75px;
  width: 75px;
}

// -----------------
@media screen and (min-width: 992px) {
  .form-card .form-card__img--left {
    border-radius: 0;
  }
}
// .form-card img {
//   height: 40px;
//   width: 150px;
//   margin: 15px;
// }

.form-card .form-card__img {
  border-radius: 0;
}

.form-card img {
  height: 50px;
  width: 200px;
  margin: 20px;
}

// .events .slick-slide{
//   height: 200px;
//   background: indianred;
// }

// .ant-carousel .slick-list .slick-slide.slick-active {
//   pointer-events: auto;
//   height: 300px;
//   padding: 10px;
//   margin: 20px;
//   background: indianred;
// }

.events {
  margin: 0 40px;
}
.events .slick-prev {
  left: -45px;
}

.events .slick-list div {
  width: 100%;
  display: inline-block;
  background: bisque;
  height: 300px;
}

.events .slick-prev:before,
.events .slick-next:before {
  font-family: "slick";
  font-size: 40px;
  line-height: 1;
  opacity: 0.75;
  color: red;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Event Details Page
.company__logo__eventdetails {
  margin: auto 0;
  img {
    // height: 180px;
    width: 90% !important;
  }
}
.company__logo img {
  height: 120px;
  padding: 20px;
  // width: 80%;
  // border: 1px solid rgba(112, 112, 112, 0.5);
}
.ant-table-tbody > tr > td:not(:first-child) {
  text-align: center;
}
.company__logo {
  margin: auto 0;
}
.company__enroll__icon {
  margin: auto 0;
  text-align: center;
}
.paragraph {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.event__list {
  max-height: 650px;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
  padding-bottom: 10px;
}
.company__event__details div {
  padding-right: 0 !important;
  padding-left: 0 !important;
  h5 {
    color: #d45895;
    font-size: 17px;
    padding-right: 10px;
  }
  p {
    color: #707070;
    font-size: 14px;
  }
  .dis-in {
    display: flex;
    text-align: left;
  }
}

.subscription-modal {
  hr {
    border-top: 3px solid #d45895 !important;
  }
  .invisible-radio {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }

  .invisible-radio:checked + label .styled-radio::after {
    content: "";
    font-size: 3em;
    display: inline-block;
    box-sizing: border-box;
    // padding: 20px;
    // width: 150px;
    text-align: center;
  }

  .invisible-radio:not(:checked) + label {
    cursor: pointer;
  }

  .invisible-radio:focus + label .styled-radio {
    transform: scale(1, 1);
    border: 3px solid #24ba1f;
    border-radius: 20px;
  }
  .ant-radio-inner::after {
    position: absolute;
    top: 6px;
    left: 6px;
    display: table;
    width: 9px;
    height: 9px;
    background-color: #d80075;
    border-top: 0;
    border-left: 0;
    border-radius: 0px;
  }
  .ant-radio-inner {
    width: 24px;
    height: 24px;
    border-radius: 0px;
  }
  .ant-radio-wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 18px;
  }
  .ant-radio-button-wrapper {
    margin-right: 10px;
    height: 120px;
    width: 120px;
    text-align: center;
    justify-items: inherit;
    box-shadow: 0px 0px 10px #00000015;
    border: none;
  }
  .payment__box__wrapper {
    padding: 10px;
    // margin: 10px;
  }
  .payment__box {
    box-shadow: 0px 0px 10px #00000015;
    border-radius: 20px;
    width: 205px;
    height: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h4 {
      color: #d45895;
      font-size: 28px;
      font-weight: 600;
    }
    p {
      color: #848484;
      font-size: 20px;
      font-weight: 500;
      display: block;
    }
  }
}

// KIND OF TODO::
// 1080 - 1600
// .ant-modal {
//   width: 85%;
// }

// table
// .ant-table-placeholder{
//   min-height: 600px;
// }

// Trainer Profile`

// Company Profile
.trainer-profile .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
  // margin-right: 16px;
  white-space: nowrap;
  width: 50%;
}

// Spinner For Full Page
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.flex-bank-page {
  display: flex;
  justify-content: space-around;

  .card {
    width: 100%;
    padding: 50px;
  }
}

.pd-10 {
  padding: 20px;
  margin-top: 20px;
}

.ant-upload-list-item-name {
  width: 450px;
}
// COOKIE
.cookie__container {
  // width: 100%;
  text-align: center;
  a:not(.btn) {
    color: palevioletred !important;
    text-decoration: underline;
  }
}
.job-list-download-icon{
  padding-left: 95%;
}
